In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
## Encode Categorical VAriable
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
## OHE 'geography'

from sklearn.preprocessing import OneHotEncoder
ohe_geo = OneHotEncoder()
geo_encoded = ohe_geo.fit_transform(df[['Geography']])
geo_encoded.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
ohe_geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(), columns=['Geography_France', 'Geography_Germany', 'Geography_Spain'])
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [9]:
## Combine one hot encoded with the original data
df = df.drop('Geography', axis=1)
df = pd.concat([df, geo_encoded_df], axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
# Split the data into features and target

X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

In [11]:
## split the data in training and testing set
X_train, X_test, y_train, y_test = train_test_split(X ,y , test_size=0.20, random_state=42)

#scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
## pickling

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('ohe_geo.pkl', 'wb') as file:
    pickle.dump(ohe_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [15]:
## Train Ann with regression

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\aroo\AI ML\ML\26-ANN\Self\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [22]:
model = Sequential((
    Dense(64, activation='relu', input_shape=(X_train.shape[1], )), #HL1 conected with input layer and only in first layer input is required
    Dense(32, activation = 'relu'), #HL2
    Dense(1) #output layer
))
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [25]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [27]:
## setup the tensor board
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "reglogs/fit/" + datetime.datetime.now().strftime("%Y_%m_%d-%H_%M_%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)


## Set Up Early Stopping
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience=10, restore_best_weights=True)

In [28]:
#Train the model
history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs =100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\aroo\AI ML\ML\26-ANN\Self\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\aroo\AI ML\ML\26-ANN\Self\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 6ms/step - loss: 100383.6484 - mae: 100383.6484 - val_loss: 98529.1094 - val_mae: 98529.1094
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99626.1328 - mae: 99626.1328 - val_loss: 96966.5938 - val_mae: 96966.5938
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 96891.5781 - mae: 96891.5781 - val_loss: 92952.6484 - val_mae: 92952.6484
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 91507.1484 - mae: 91507.1484 - val_loss: 86294.3125 - val_mae: 86294.3125
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 83684.8672 - mae: 83684.8672 - val_loss: 77732.0078 - val_mae: 77732.0078
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 74551.0859 - mae: 74551.0859 - val_loss: 68838.5859 - val_mae: 68838.5859
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 65708.0391 - mae: 65708.0391 - val_loss: 61210.3750 - val_mae: 61210.3750
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 58785.7422 - mae: 58785.7422 - val_loss: 55874.9336 - val_mae: 55874.9336
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 54405.6367 - mae: 54405.6367 - val_loss: 52968.1055 - val_mae: 52968.1055
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 52119.6289 - mae: 52119.6289 - val_loss: 51697.0508 - val_mae: 51697.0508
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51131.8242 - mae: 51131.8242 - val_loss: 51282.1992 - val_mae: 51282.1992
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50737.4961 - mae: 50737.4961 - val_loss: 51141.1914 - val_mae: 51141.1914
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50550.6758 - mae: 50550.6758 - val_loss: 51064.8633 - val_mae: 51064.8633
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50450.2383 - mae: 50450.2383 - val_loss: 50988.9844 - val_mae: 50988.9844
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50365.9648 - mae: 50365.9648 - val_loss: 50928.3086 - val_mae: 50928.3086
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50294.1406 - mae: 50294.1406 - val_loss: 50872.0312 - val_mae: 50872.0312
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 50233.4102 - mae: 50233.4102 - val_loss: 50823.6367 - val_mae: 50823.6367
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50180.7031 - mae: 50180.7031 - val_loss: 50771.6992 - val_mae: 50771.6992
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 50127.8203 - mae: 50127.8203 - val_loss: 50715.3945 - val_mae: 50715.3945
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 50083.5586 - mae: 50083.5586 - val_loss: 50679.9336 - val_mae: 50679.9336
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 50040.3516 - mae: 50040.3516 - val_loss: 50643.3906 - val_mae: 50643.3906
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49999.4336 - mae: 49999.4336 - val_loss: 50606.8008 - val_mae: 50606.8008
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49966.4531 - mae: 49966.4531 - val_loss: 50575.7812 - val_mae: 50575.7812
Epoch 24/100
250/250 [==============================] - 2s 6ms/step - loss: 49930.6484 - mae: 49930.6484 - val_loss: 50546.5312 - val_mae: 50546.5312
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49895.9062 - mae: 49895.9062 - val_loss: 50499.9219 - val_mae: 50499.9219
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49866.9766 - mae: 49866.9766 - val_loss: 50476.9727 - val_mae: 50476.9727
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49840.5859 - mae: 49840.5859 - val_loss: 50466.2930 - val_mae: 50466.2930
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49816.5859 - mae: 49816.5859 - val_loss: 50440.3359 - val_mae: 50440.3359
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49792.3047 - mae: 49792.3047 - val_loss: 50413.9375 - val_mae: 50413.9375
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49768.5469 - mae: 49768.5469 - val_loss: 50404.9297 - val_mae: 50404.9297
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49749.5234 - mae: 49749.5234 - val_loss: 50387.1328 - val_mae: 50387.1328
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49731.2422 - mae: 49731.2422 - val_loss: 50362.5195 - val_mae: 50362.5195
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49711.6211 - mae: 49711.6211 - val_loss: 50349.2734 - val_mae: 50349.2734
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49695.2461 - mae: 49695.2461 - val_loss: 50334.7031 - val_mae: 50334.7031
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49682.9844 - mae: 49682.9844 - val_loss: 50316.4844 - val_mae: 50316.4844
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49670.7734 - mae: 49670.7734 - val_loss: 50306.2930 - val_mae: 50306.2930
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49656.8398 - mae: 49656.8398 - val_loss: 50298.8320 - val_mae: 50298.8320
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49642.7070 - mae: 49642.7070 - val_loss: 50299.7969 - val_mae: 50299.7969
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49628.7227 - mae: 49628.7227 - val_loss: 50290.0117 - val_mae: 50290.0117
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49615.8789 - mae: 49615.8789 - val_loss: 50291.0117 - val_mae: 50291.0117
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49610.1562 - mae: 49610.1562 - val_loss: 50284.0352 - val_mae: 50284.0352
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49595.7695 - mae: 49595.7695 - val_loss: 50282.9375 - val_mae: 50282.9375
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49588.2383 - mae: 49588.2383 - val_loss: 50267.9141 - val_mae: 50267.9141
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49575.8984 - mae: 49575.8984 - val_loss: 50278.5781 - val_mae: 50278.5781
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49568.4922 - mae: 49568.4922 - val_loss: 50271.5664 - val_mae: 50271.5664
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49559.7344 - mae: 49559.7344 - val_loss: 50259.4414 - val_mae: 50259.4414
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49547.7227 - mae: 49547.7227 - val_loss: 50260.4531 - val_mae: 50260.4531
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49544.6367 - mae: 49544.6367 - val_loss: 50248.5078 - val_mae: 50248.5078
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49531.5391 - mae: 49531.5391 - val_loss: 50257.5039 - val_mae: 50257.5039
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49528.3008 - mae: 49528.3008 - val_loss: 50252.7773 - val_mae: 50252.7773
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49518.9023 - mae: 49518.9023 - val_loss: 50248.7695 - val_mae: 50248.7695
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 49509.5273 - mae: 49509.5273 - val_loss: 50248.0859 - val_mae: 50248.0859
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49506.6328 - mae: 49506.6328 - val_loss: 50240.3281 - val_mae: 50240.3281
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 49495.8516 - mae: 49495.8516 - val_loss: 50250.6680 - val_mae: 50250.6680
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49491.8438 - mae: 49491.8438 - val_loss: 50250.4961 - val_mae: 50250.4961
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49484.3125 - mae: 49484.3125 - val_loss: 50246.1680 - val_mae: 50246.1680
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 49478.9141 - mae: 49478.9141 - val_loss: 50243.7305 - val_mae: 50243.7305
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 49473.2266 - mae: 49473.2266 - val_loss: 50246.2148 - val_mae: 50246.2148
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 49465.7266 - mae: 49465.7266 - val_loss: 50247.3359 - val_mae: 50247.3359
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49458.8945 - mae: 49458.8945 - val_loss: 50258.1328 - val_mae: 50258.1328
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 49450.2461 - mae: 49450.2461 - val_loss: 50265.7812 - val_mae: 50265.7812
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49451.2461 - mae: 49451.2461 - val_loss: 50267.4648 - val_mae: 50267.4648
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49442.5977 - mae: 49442.5977 - val_loss: 50260.0508 - val_mae: 50260.0508

In [29]:
%load_ext tensorboard

In [33]:
%tensorboard --logdir reglogs/fit

Reusing TensorBoard on port 6006 (pid 5556), started 0:00:21 ago. (Use '!kill 5556' to kill it.)

In [35]:
## evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 4ms/step - loss: 50240.3281 - mae: 50240.3281
Test MAE: 50240.328125

In [36]:
model.save('reg_model.h5')

d:\aroo\AI ML\ML\26-ANN\Self\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(